/*Mobile*/
@media (max-width: 1000px) {

  #menu_div{
    bottom: 7vh;
  }

  #search-box{
    width: 70%;
  }

  #avatar-hud {
    bottom: 100px;
  }

  img.menu_icon{
    height: 25px;
  }

  button.menu_btn{
    width: 45px;
  }

  #sidebar {
    width: 70vw;
    bottom: 15em;
  }

}

/*Desktop*/
@media (min-width: 999px) {

  #menu_div{
    bottom: 0;
  }

  #search-box{
    width: 50%;
  }

  #avatar-hud {
    bottom: 60px;
  }

  img.menu_icon{
    height: 32px;
  }

  button.menu_btn{
    width: 64px;
  }

  #sidebar {
    width: 30vw;
    bottom: 15em;
  }

}

.menu_btn{
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
  border: none;
  background: none;
  height: 32px;
  width: 64px;
  cursor: pointer;
}

img.menu_icon{
  width: auto;
  -webkit-filter: drop-shadow(1px 1px 1px #444);
  filter: drop-shadow(1px 1px 1px #444);
}

#avatar-hud {
  width: 100px;
  height: 100px;
  -webkit-filter: drop-shadow(1px 1px 1px #444);
  filter: drop-shadow(1px 1px 1px #444);
  z-index:2;
  position:absolute;
  border:none;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  right:32px;
  margin:2em;
}

#menu_div{
  z-index:2;
  position:absolute;
  margin:2em;
  border:none;
  background-color: transparent;
  right:32px;
  text-align: center;
}

button.menu_btn{
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
  border: none;
  background: none;
  height: auto;
}

#link_input_div, #add_room_div{
  margin: -50px 0 0 -150px;
  display:none;
  position:absolute;
  height:auto;
  width:300px;
  background-color: rgba(255, 255, 255, 1);
  top:50%;
  left:50%;
  z-index:1;
  -webkit-filter: drop-shadow(1px 1px 1px #888);
  filter: drop-shadow(1px 1px 1px #444);
}

p.p_input{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16pt;
  margin-left: 5px;
  color:black;
}

.link_btns {
  position: relative;
  border: 0px solid #ccc;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 13pt;
  color: white;
  background-color:#17BEBB;
  font-weight: 700;
}

#appendedLink, #contentLink, #enterRoomName {
  cursor: text;
}

#cancel_icon{
  width: 12px;
  margin:auto;
}

#sidebar {
  background-color: rgba(255,255,255,.5);
  position: absolute;
  top: 3em;
  right: -1em;
  z-index: 3;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-width: 1px 1px 1px;
  border-radius: 10px;
  overflow-y: auto;
}

#sidebar h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: black;
}

#toggleSidebar {
  width: 30px;
  margin-left: -15px;
  top: 100px;
  position: absolute;
}

.roomTable {
  padding-left: 3em;
  padding-right: 3em;
  width: 100%;
}

.roomName {
  font-family: 'Roboto', sans-serif;
  color: black;
  width: 50%;
}

.numUsers {
  font-family: 'Roboto', sans-serif;
  color: black;
  width: 50%;
}

/*
SEARCH BAR FOR PASTING URLS STARTS HERE
*/

.searchform, #goButton{
  display: block;
  overflow: hidden;
  bottom: 0;
  position: absolute;
  z-index:2;
}

.searchform{
  width: 100vw;
  margin: 2em;
}

#search-box, #goButton{
  vertical-align: baseline;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-width: 1px 1px 1px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  padding: 0.5em 0.5em;
  float: left;
}

#search-box{
  background-color: rgba(255,255,255,.5);
}

#goButton{
  width: auto;
  margin-left: 1em;
  color: #3C3C3C;
  background-color: rgba(255,255,255,1);
  position: relative;
}

#search-box:focus {
  color: #000000;
  border-color: #000000;
  outline: none;
}

/*
SEARCH BAR FOR PASTING URLS ENDS HERE
*/
